body{
    width: 100%;
}
#root{
    width: 100%;
    margin: auto;
}
.center {
    margin: auto;
    width: 90%;

    /* border: 5px solid #FFFF00; */
    /* padding: 10px;*/
}
.test{
    margin: auto;
    width: 50%;
}

.centerHomeTab {
    margin: auto;
    width: 100%; 
    /* border: 5px solid #FFFF00; */
    /* padding: 10px;*/
}

h5{
    margin-top: 20px;
}
#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-content: center;
   
}

#homeTabs{
    width: 100%; 
    margin: auto;
}
.MuiBox-root {
    padding: 0px;
}

.MuiBox-root-7{
    padding: 0px;
}
#recommendations{
    padding: 24px;
    width: 100%; 
    margin: auto;

    align-content: center;
}